{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Game  over
{% endblock %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>You have played the Part 3 of the experiment games in a total of {{Constants.num_rounds}} rounds. In this game you earned {{player.payoff}}</br>
        Your total accumulated earnings up until this part of the experiment are {{experiment_payoff}} for all Dice guessing tasks, Dicatorship game and plus {{participation_fee}} for participation.
        </br>
            Press Next button to proceed to the next survey section of the experiment.
        </p>

    </div>


</div>


{% next_button%}
{% endblock %}

