{% extends "global/Page.html" %}
{% load otree %}
{% block title %}
Instructions
{% endblock %}
{% block content %}
<div class="card bg-light instructions">
    <div class="card-body">


        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
            {% if player.role == 'control' %}
            You have to guess a number of dots on a dice from {{Constants.min_allowed_guess}}
            to {{Constants.max_allowed_guess}}.</br>
            When you have made your guess you can press the Next button.</br>
            Hereafter a die will roll and if your guess matched the number of dots on the die then you will win {{Constants.win}} , else you will win {{Constants.lose}} (Zero).</br>
            Do not use the back button on your browser during the game as it might delete your total earnings.</br>
            If you are ready please click Next.</br>
            </br>


            {% else %} {% comment "Treatment group screen" %} "Treatment group screen" {% endcomment %}
            You have to guess a number of dots on a dice from {{Constants.min_allowed_guess}}
            to {{Constants.max_allowed_guess}}.</br>
            Please write your guess on a piece of paper to remember it correctly.</br>
            When you have made your guess you can press the Next button.</br>
            Hereafter a die will roll and you will be asked to report the number of dots which you have guessed earlier.</br>
            If your guess matched the number of dots on the die then you will win {{Constants.win}}, else you will win {{Constants.lose}} (Zero). </br>
            Do not use the back button on your browser during the game as it might delete your total earnings.</br>
            If you are ready please click Next.</br>

            {%endif%}
        </p>

    </div>
</div>
{% next_button %}

{% endblock %}

