{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Game 3: Dice Guessing Game
{% endblock %}

{% block content %}
<div class="card bg-light instructions">
    <div class="card-body">

        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
    <p>
        Welcome to Game 3: Dice Guessing Game.</br>
        You will now play {{Constants.num_rounds}} rounds of the dice game that you have played previously in Game 1 </br>
        The rules for earnings are the same: You have to guess what the dice will show.</br>
        The more  you guess correctly, the more money you
        will win.


    </p>
    </div>
</div>
    {% next_button %}

{% endblock %}
