{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Make your guess
{% endblock %}

{% block content %}
<div class="card bg-light instructions">
    <div class="card-body">

        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
<br>

    The dice roll that computer generated is: <b>{{dice_roll}}</b> </br>
    Please enter the number (from 1 to 6 inclusive) that you have guessed earlier. </br>

</p>
{% formfields %}
    </div>
</div>
{% next_button %}

{% endblock %}
