{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
End of Game 1
{% endblock %}

{% block content %}
<div class="card bg-light instructions">
    <div class="card-body">


        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>You have completed Game 1 in a total of {{Constants.num_rounds}} rounds.</br>
        Your total earnings so far are {{converted_payment}} from {{experiment_payoff}}  plus {{participation_fee}} for participation.
        </br>
            Press Next button to proceed to Part 2.
        </p>

    </div>


</div>


{% next_button%}
{% endblock %}

