{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Game  over
{% endblock %}

{% block content %}
<div class="card bg-light instructions">
    <div class="card-body">


        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>You have played the Part 1 of the game in a total of {{Constants.num_rounds}} rounds.</br>
        Your total earnings for this part of the experiment are {{experiment_payoff}} plus {{participation_fee}} for participation.
        </br>
            Press Next button to proceed to Part 2 of the experiment.
        </p>

    </div>


</div>


{% next_button%}
{% endblock %}

