{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Game 1: Dice Guessing
{% endblock %}

{% block content %}
<div class="card bg-light instructions">
    <div class="card-body">

        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
    <p>
        Thank you for answering the survey questions.</br>
        You will now start the first game.</br>
        The purpose in this game is to guess the outcome of a dice roll.</br>
        You will play multiple rounds.</br>
        In each round, you will earn 100 points if your prediction is correct.</br>
        If your prediction does not turn out to be correct you will earn 0 (zero) points.</br>
        Your prediction in one round will not affect the continuing rounds.</br>
        At the end of the rounds your points will be added up and converted to actual KZ Tenge as your earnings from this game.</br>
        Each point is equivalent to 20 KZ Tenge. </br>

    </p>
    </div>
</div>
    {% next_button %}

{% endblock %}
