{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Donation Game
{% endblock %}

{% block content %}
<div class="card bg-light instructions">
    <div class="card-body">

        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>
        <p>
            For this game, we are interested in how university students make decisions about charitable donations.
            You will be given {{Constants.endowment}} with which to play.
        {% formfield player.charity_group %}
        </br>
        You can donate any amount up to {{Constants.endowment}}, including zero. We emphasize that whatever money you donate will
        actually be given to your chosen organization.
        </br></br>
        Any money you do not donate will become part of your earnings for this game.
        For example, if you donate {{Constants.sample_donation}}, your will receive {{Constants.endowment|c}} – {{Constants.sample_donation|c }} = {{Constants.sample_earning}} in earnings for this game.
        </p>
    {% formfield player.donation %}
    </div>
</div>
    {% next_button %}

{% endblock %}
