{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Game 2: Dictator game
{% endblock %}

{% block content %}
<p> Now you will play the second game in our experiment. </br>
    In this game you will be matched with another player participating in this experiment randomly.</br>
    You will not know the identity of that player and the other will not have information about you either. </br>
    </br>
    <b>Game Rules:</b>
<ul>
    <li>In this game Each of you will be randomly assigned to one of the two roles: 1) Dictator or 2) Receiver.</li>
    <li>If you are assigned as the Dictator you will decide how to divide 100 points between you and the Receiver.</li>
    <li>The amount you choose to keep for yourself will be your earnings and the rest will be send to the Receiver. </li>
</ul>
</br>
If you have been assigned to Receiver's role you will have to wait for Dictator's decision. You payoff would depend on Dictator's decision.</br>
</br>
If you have read and understood the rules of the game, proceed by clicking Next button.
</p>
    {% next_button %}

{% endblock %}
