{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Game  over
{% endblock %}

{% block content %}

<div class="panel panel-default" style="margin-bottom:10px">
    <div class="panel-body">
        <p><strong></strong></p>
        <p>You have played the Part 3 of the experiment games in a total of {{player.num_rounds}} rounds.</br>
        Your total accumulated earnings up until this part of the experiment are {{experiment_payoff}} for Dice guessing tasks,
            {{endowment}} from Dictatorship game plus {{participation_fee}} for participation.
        </br>
            Press Next button to proceed to the next survey section of the experiment.
        </p>

    </div>


</div>


{% next_button%}
{% endblock %}

