{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome to the Dice Guessing Game.
{% endblock %}

{% block content %}

    <p>
        You have now responded to the  series of questions.</br>
        You will play {{Constants.num_rounds}} rounds of the dice game that you have played previously in Part 1 </br>

        You have to guess what the die will show. The more die rolls you guess correctly, the more money you
        will win.


    </p>

    {% next_button %}

{% endblock %}
