{% extends "global/Page.html" %}
{% load otree %}

{% block title  %}
<p style="text-align: center;">NU BEHAVIORAL & EXPERIMENTAL ECONOMICS LAB</p>
{% endblock %}
{% block content  %}
<p > You are about to participate in a research study based on a decision-making experiment.
    Before you proceed, please read the consent form below carefully.
    If you understand the statements and freely consent to participate in the study please click the “I Agree” button at the bottom of the page.
    Note that you may quit the experiment at any point if you decide not to participate. Note also that once you quit without completing the experiment,
    you will not be eligible for any form of payment that will accumulate throughout the experiment.</p>
<h4 style="text-align: center">Consent form</h4>
<div class="card bg-light instructions">
    <div class="card-body">

        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>

        <p>
            The information on this consent form is provided so that you can decide whether you wish to participate in
            an experiment at the Behavioral and Experimental Economics Lab at Nazarbayev University.
            The study involves web-based behavioral experimental games designed to understand decision-making.
            Participation in the study typically takes 60 minutes.</br>
            The entire experiment is strictly confidential and in no part of the game you will be asked to provide your identity.
            The study will not create any risks for the participants or anyone
            associates with them. It is important that you understand that your participation is considered voluntary.
            This means that even if you agree to participate, you are free to withdraw from the experiment at any time.</br>

            In this experiment, you will begin by answering a series of survey questions.
            And then, you will play multiple rounds of experimental games.
            Detailed information and instructions about these games will be provided later.
            In each game you will accumulate points based on your performance.
            These points will be converted to actual money in KZ Tenge.
            At the end of the game you will be eligible for your total earnings plus a flat participation payment of 2000 KZ Tenge. Each point is worth 20 tenge. </br>

            To contact about any further questions, concerns, suggestions, or complaints that are not being addressed
            by the researcher, you can contact: Zhanar Ashikbayeva, Graduate School of Public Policy,
            Nazarbayev University. Email: zhanar.ashikbayeva@nu.edu.kz</br>
        </p>
        <h4>Statement of Consent</h4>
        <p>
            By clicking “I agree” below you are indicating that you are at least 18 years old, have read and understood
            this consent form, and agree to participate in this research study.
        </p>
        <div>
            <button name = "consent" value="True" class="btn btn-primary btn-large ">I Agree</button>
            <button name = "consent" value="False" class="btn btn-primary btn-large ">I Disagree</button>
        </div>
    </div>
</div>



{% endblock %}
