{% extends "global/Page.html" %}
{% load otree %}

{% block title  %}
    Survey
{% endblock %}

{% block content  %}
{% if consent != True %}
<div class="card bg-light instructions">
    <div class="card-body">

        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>

        <p>
            You clicked "I Disagree" button on Consent Form. We respect your decision to not to continue the experiment, please close the browser tab.</br>
            Good bye!
        </p>
    </div>
</div>
{% else %}
<div class="card bg-light instructions">
    <div class="card-body">

        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>

        <p>
            Please state the extent to which you agree or disagree with the following statements.Your answer to the
            questions in this survey will not affect your earnings.
        </p>

    {% formfields %}
    </div>
</div>
        {% next_button %}
        {% endif%}

{% endblock %}
