{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    End of Experiment. Payment Info
{% endblock %}

{% block content %}

<div class="panel panel-default" style="margin-bottom:10px">
    <div class="panel-body">
        <p><strong></strong></p>
        <p>You have played 2 Dice task games in a total of {{total_game_rounds}} rounds, Dictator and Donation games in {{Constants.num_rounds}} round each.</br>
            Your total earnings for the experiment are {{experiment_payoff}} plus {{participation_fee}} for participation.</br>
        Thank you for participating in our experiment! To receive your payment please inform experimenter your label code : {{redemption_code}}</p>
    </div>


</div>


{% next_button %}
{% endblock %}

